body
{
	background-color: #b5cfe7;
}

#page
{
	background-color: white;
}

p
{
	text-align: justify;
	text-justify: inter-word;
	text-indent: 30px;
	font-family: sans-serif;
}

.infoCard
{
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 10px;
}

.infoCard p
{
	line-height: 0.1;
	text-indent: 0px;
}

.image
{
	margin: 50px auto;
}

.image p
{
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	text-indent: 0px;
}

.image img
{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.video
{
	margin-left: auto;
	margin-right: auto;
}

h1
{
	text-align: center;
	margin-bottom: 0px;
	margin-top: 40px;
}

b
{
	color: blue;
}

blockquote
{
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	font-style: italic;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-top: 5px;
}

@media screen and (min-width: 1100px)
{
	#page
	{
		width: 900px;
		margin: 50px auto;
		padding: 50px;
		box-shadow: 10px 10px 5px #888;
	}

	.marco
	{
		border: 1px solid black;
		padding: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	hr
	{
		border: 0;
		width: 800px;
		height: 1px;
		margin-top: 0px;
		margin-bottom: 40px;
		background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
		background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
		background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
		background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	}

	blockquote
	{
		margin-left: 50px;
	}

	.video
	{
		width: 430px;
	}

	.video iframe
	{
		width: 560px;
		height: 315px;
	}

	.image
	{
		width: 500px;
	}
	
	.infoCard
	{
		width: 500px;
	}
}

@media screen and (max-width:1099px)
{
	#page
	{
		padding: 10px;
	}

	blockquote
	{
		margin-left: 0px;
	}

	/* 
		Video fluido:
		http://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php 
	*/

	.video
	{
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}

	.video iframe
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.image
	{
		width: 100%;
	}

	img
	{
		width: 100%;
		height: auto;
	}

	form
	{
		width: 100%;
	}

	.infoCard table
	{
		table-layout: fixed;
		width: 100%;
	}

	.infoCard td
	{
		word-wrap: break-word;
	}
}